<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>RENT tools <strong>from people in</strong> your area<strong></h1>
    <p>for your upcoming DIY projects</p>
    <a class="btn btn-flat" href="#">Sign Up</a>
  </div>
</div>

<section class="hero">
  <div class="container">
    <%# insert banner background %>
      <div class="col-md-6 hero__info">
        <h1 style="color: #black">RENT tools <br><strong>from people in your area</strong></h1>
        <div class="h4 hero__sub-heading"
          style="color: #black">for your upcoming DIY projects
        </div>

        <div class="hero__btns-wrapper">
          <div class="hero__btn-wrapper">
            <a href="" target="_blank" class="btn hero__btn hero__btn--1 " style="color: black">Sign Up </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 hero__image" data-aos="fade-left" data-aos-duration="4000">
        <picture id="" class="hero__bg"><source data-srcset="">
        <img src="" data-sizes="auto" alt="" class="lazyload img-fluid " ></picture>
        <picture id="" class="hero__image__right d-block d-md-none"><source data-srcset="">
        <img src="" data-sizes="auto" alt="" class="lazyload img-fluid " ></picture>
      </div>
    </div>
  </div>
</section>
