
    <h2>Rentals</h2>
    <p>This is where you'll see your listing</p>
    <% @tools.each do |b|%>
    <div class="card">
      <%= b.name %>
      <%= b.rate %>
      <%= link_to "Delete Tool Listing", tool_path(b), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this tool?" } %>
    </div>
    <% end %>
