
#bannerhome{
  background: url("/app/assets/images/banner_rent.png") no-repeat center;
  background-size: contain;
}


.hero__btn--2 {
  background: url("") no-repeat center;
  background-size: contain;
}
