$main-color: #3f8783;
$secondary-color: #3f6487;
$tertiary-color:#32D89C;
$fourth-color:#5CE1E6;
$main-font: 'Poppins', sans-serif;


.btn{
  background:$fourth-color;
  border-radius: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(15, 14, 14);

}
