@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$main-color: #3f8783;
$secondary-color: #3f6487;
$tertiary-color:#32D89C;
$fourth-color:#5CE1E6;
$main-font: 'Poppins', sans-serif;


.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// target all card
.card {
  width: 70%;
  position: relative;
  margin: 0.5rem 0.25rem 1rem 0.2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 10px;
}



.card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.card-content {
  padding: 24px;
  background-color: #F8F9FA;
}

.card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

.form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;
}

// showpage tool

#showpage{
  margin-left: 40px;
  background: #fbfbfb;
  padding-left: 27px;
  margin: 20px;
  border-radius: 20px;
  padding-right: 41px;
}

.card-body{
  h3{
    font-family: $main-font;
    font-weight: 500;
    font-size: 20px;
  }
  p{
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
  }
  h5{
    font-family: $main-font;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
  }
}

.show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.margin-top-negative {
  margin-top: -75px;
}
.no-mb {
  margin-bottom: 0;
}

.show-img{
  margin-top: 22px;
 img{
  width: 45rem;
 }
}

.tool-show{
  font-size: 29px;
  font-family: $main-font;
  font-weight:700;
  color: $main-color;

}

.tool-rate{
  font-size: 21px;
  font-family:$main-font;
  font-weight: 500;
  p{
    font-size: 15px;
    font-family: $main-font;
  }
}

.showtoolbtn{
    border-radius: 20px;
    border-color: $main-color;
    color: $main-color;
    font-weight: 500;
    font-size: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 76px;
    padding-right: 76px;

}


// tool listing
.tool-category{
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:black;
  }
}

.tool-form{
  .form-control{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #ffff;
    }

    .btn{
      background-color: $main-color;
      color: $tertiary-color;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
    .placeholder{
      color:#b2aaaa;
      padding-left: 30px;
    }

}

.row-tool{
  padding-left: 92px;
}
.tool-maincard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.tool-card{
  margin: 0.5rem 0.25rem 1rem 0.2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 10px;
}

.tool-card-body{
  h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:black;
    padding-top:5px;

  }
  a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color:$main-color;
  }
}

.description{
  align-items: center;
  color: black;
  font-weight: 500;
}


// mylistingpage

.fa-trash{
  font-size: 30px;
  color: #9f0e21;
  padding-left: 13rem;
  padding-top: 10rem;
}


.mylist-description{
  padding-left: 38px;
  padding-top:20px;
  margin-left: 30px;
  h4{
    font-size: 25px;
    font-family: $main-font;
    font-weight: 500;
  }
  .btn{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 63px;
    background-color: $main-color;


  }
  .update{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 63px;
    background-color: $secondary-color;


  }

}


.listing-card{
  margin-top: 20px;
  h2{
    font-family: $main-font;
    font-weight: 600;
    font-size: 20px;
  }
}
