$main-color: #712323;
$secondary-color: #A27777;
$tertiary-color:#32D89C;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-btn{
  background: $main-color;
  border-radius: 2px;
  a{
    color: $secondary-color;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
  }
}
