@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$main-color: #3f8783;
$secondary-color: #3f6487;
$tertiary-color:#32D89C;
$fourth-color:#5CE1E6;
$main-font: 'Poppins', sans-serif;

.navbar-lewagon {
  justify-content: space-between;
  border-bottom: inset;
  border-color: aliceblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 85px;
}


.container-fluid{
  padding-top: 10px;
  padding-right: 23px;
}

.nav-item{
  a{
  font-size:16px;
  font-family: $main-font;
  color: #000000;
  padding-right: 20px;
  text-decoration: none;
  }
}

.nav-link{
  a{
    padding-right: 10px;
  }
}
