@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$main-color: #712323;
$secondary-color: #A27777;
$tertiary-color:#32D89C;
$fourth-color:#0981a7;
$main-font: 'Poppins', sans-serif;

.navbar-lewagon {
  justify-content: space-between;
  background: $fourth-color;
  padding: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.container-fluid{
  padding-top: 10px;
  padding-right: 23px;
}

.nav-item{
  a{
  font-size:16px;
  font-family: $main-font;
  color: #ffff;
  padding-right: 10px;
  text-decoration: none;
  }
}

.nav-link{
  a{
    padding-right: 10px;
  }
}
